@font-face {
    font-family: 'Olympic Headline';
    src: url('../fonts/OlympicHeadline-Regular.woff2') format('woff2'),
        url('../fonts/OlympicHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/OlympicSans.woff2') format('woff2'),
        url('../fonts/OlympicSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Olympic Sans Bold';
    src: url('../fonts/OlympicSans-Bold.woff2') format('woff2'),
        url('../fonts/OlympicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}